.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    
  }

  
    

  #header {
    position: absolute; 
       top: 0; 
       left: 0; 
       width: 80%; 
       color: orange;
    
}



        #logo{
          
          width: 800;
          margin-left: auto;
          margin-right: auto;
          position: fixed;
          left: 0px;
          top: 0px;
          z-index: 8;
                 
        }

       

    
#blackground {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background: rgb(0, 0, 0);
  z-index: 0;
  ;}


#body{ margin-top: 100px; height: 3000px; overflow: auto; left : 0px; color: rgb(1, 250, 1)}

#editor{

background-color: rgb(24, 23, 23);
color: orange;
position: fixed;
top: 25%;
right: 5%;
padding-top: 15px;
padding-right: 15px;
padding-bottom: 15px;
padding-left: 15px;
border: 5px solid rgb(175, 117, 8);


}

#editorheader{

  background-color: rgb(24, 23, 23);
  color: black;
  top:0px ;
  right: 0px;
  background-color:  rgb(175, 117, 8);


}


#TextA {
 
  width: 500px;
  height: 50px;
  background-color: black;
  color: orange;
}



#TextB {
  width: 500px;
  height: 50px;
  background-color: black;
  color: orange;
}


#TextC {
  width: 500px;
  height: 50px;
  background-color: black;
  color: orange;
}


#TextD {
  width: 500px;
  height: 50px;
  background-color: black;
  color: orange;
}


#TextE {
  width: 500px;
  height: 50px;
  background-color: black;
  color: orange;
}

#canvases{

  

}

#grid {
  position: absolute;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 5px solid rgb(0, 90, 0, 1);
  z-index : 1
}


#map {
  position: absolute;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 5px solid rgb(0, 90, 0, 1);
  z-index : 2

}

 