.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    
  }

  
    

  #header {
    position: absolute; 
       top: 0; 
       left: 0; 
       width: 80%; 
       color: orange;
    
}



        #logo{
          
          width: 800;
          margin-left: auto;
          margin-right: auto;
          position: fixed;
          left: 0px;
          top: 0px;
          z-index: 8;
                 
        }

       

    
#blackground {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background: rgb(0, 0, 0);
  z-index: 0;
  ;}


#body{
  
  margin-top: 100px; 
  height: 3000px; 
  overflow: auto; 
  left : 0px; 
  color: rgb(1, 250, 1);
  

}

#editor{
display: none;
background-color: rgb(24, 23, 23);
color: orange;
position: fixed;
top: 25%;
left: 5%;
padding-top: 0px;
padding-right: 15px;
padding-bottom: 15px;
padding-left: 15px;
border: 5px solid rgb(175, 117, 8);
font-family: 'Courier Prime', monospace;
z-index: 7;


}



#testFill{

  font-family: 'Courier Prime', monospace;


}

#testLocation{

  color: orange;
  font-family: 'Courier Prime', monospace;
  font-weight: bold;
  border:none;
  


}

#testCategory{

  color: orange;
  font-family: 'Courier Prime', monospace;
  font-weight: bold;
  border:none;


}



#editorheader{

  background-color: rgb(24, 23, 23);
  color: black;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  background-color:  rgb(175, 117, 8);
  width: 500px;
 

}


#control {

  background-color: rgb(24, 23, 23);
  color: orange;
  position: fixed;
  float: right;
  bottom: 5%;
  right: 5%;
  padding-top: 0px;
  padding-right: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  border: 5px solid rgb(175, 117, 8);
  font-family: 'Courier Prime', monospace;
  z-index : 8;
}

#painter{
  display: none;
  background-color: rgb(24, 23, 23);
  color: orange;
  position: fixed;
  top: 25%;
  right: 5%;
  padding-top: 0px;
  padding-right: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  border: 5px solid rgb(175, 117, 8);
  font-family: 'Courier Prime', monospace;
  z-index : 8;
  width:200px;
  
  
  }

  #paintFill{
   
    font-family: 'Courier Prime', monospace;
    
       
    }

#QA {
 
  
  color: orange;
  font-family: 'Courier Prime', monospace;
  font-weight: bold;
  border:none;
  
}


#TextA {
 
  width: 500px;
  height: 50px;
  background-color: black;
  color: orange;
  font-family: 'Courier Prime', monospace;
  border:none;  
}

#QB {
 
  
  color: orange;
  font-family: 'Courier Prime', monospace;
  font-weight: bold;
  border:none;
}


#TextB {
  width: 500px;
  height: 50px;
  background-color: black;
  color: orange;
  font-family: 'Courier Prime', monospace;
  border:none;
}

#QC {
 
  
  color: orange;
  font-family: 'Courier Prime', monospace;
  font-weight: bold;
  border:none;
}

#TextC {
  width: 500px;
  height: 50px;
  background-color: black;
  color: orange;
  font-family: 'Courier Prime', monospace;
  border:none;
}

#QD {
 
 
  color: orange;
  font-family: 'Courier Prime', monospace;
  font-weight: bold;
  border:none;
}


#TextD {
  width: 500px;
  height: 50px;
  background-color: black;
  color: orange;
  font-family: 'Courier Prime', monospace;
  border:none;
}

#QE {
 
  
  color: orange;
  font-family: 'Courier Prime', monospace;
  font-weight: bold;
  border:none;
}

#TextE {
  width: 500px;
  height: 50px;
  background-color: black;
  color: orange;
  font-family: 'Courier Prime', monospace;
  border:none;
}

#user {
  
  background-color: black;
  color: orange;
  font-family: 'Courier Prime', monospace;
  border:none;
}


#grid {
  position: absolute;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 5px solid rgb(0, 90, 0, 1);
  z-index : 1
}


#map {
  position: absolute;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 5px solid rgb(0, 90, 0, 1);
  z-index : 2;
  font-family: 'Courier Prime', monospace;

}

 