.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
  }

  #blackground {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background: rgb(0, 0, 0);}
    

  #header {
    position: fixed;
    float: right;
      
    right: 0;
    background: rgb(0, 0, 0);
    color: rgb(1, 250, 1)
}
    


#logo{

  position: fixed;
  float: right;
  position: fixed;
  float:right;
  top: 0; 
  right: 0;
  
  
}


#mapData{

  background-color: black;
  color: rgb(0, 255, 0);
  z-index: 8;
  color: orange;
  position: fixed;
  float:right;
  top: 15%;
  right: 18%;

}


#body{ margin-top: 100px; height: 3000px; overflow: auto; left : 0px }

#editor{

  background-color: black;
color: orange;
position: fixed;
float:right;
top: 25%;
right: 5%;


}


#TextA {
 
  width: 700px;
  height: 50px;
  background-color: black;
  color: orange;
}



#TextB {
  width: 700px;
  height: 50px;
  background-color: black;
  color: orange;
}


#TextC {
  width: 700px;
  height: 50px;
  background-color: black;
  color: orange;
}


#TextD {
  width: 700px;
  height: 50px;
  background-color: black;
  color: orange;
}


#TextE {
  width: 700px;
  height: 50px;
  background-color: black;
  color: orange;
}



 