.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    
  }


    

  #header {
    position: absolute; 
       top: 0; 
       left: 0; 
       width: 80%; 
       color: orange;
    
}

div#popUp{

  width:75%;    
  position: fixed;
  height: 100%;
  top:0; 
  left:0;
  background-color: rgb(24, 23, 23);
  opacity: 0.8;
  color: rgb(3, 182, 3);
  font-family: 'Courier Prime', monospace;
  border: none;
  z-index : 5

}

   
#wrapper {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 75%;
  background: black;
  overflow-y: scroll;
  overflow-x: scroll; 
  ;}


  #gridImg {
    position: absolute;
    display: block;
    margin-left: auto;
    margin-right: auto;    
    border: 5px solid rgb(0, 90, 0, 1);
    z-index : 1
  }
  
  #gridBtm {
    position: absolute;
    display: block;
    margin-left: auto;
    margin-right: auto;    
    border: 5px solid rgb(0, 90, 0, 1);
    z-index : 2
  }
  
  
  #gridMid {
    position: absolute;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid rgb(0, 90, 0, 1);
    z-index : 3;
    font-family: 'Courier Prime', monospace;
  
  }
  
  #gridTop {
    position: absolute;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid rgb(0, 90, 0, 1);
    z-index : 4;
    font-family: 'Courier Prime', monospace;
  
  }
  




  div#sidebarwrapper{
    position: absolute;
    right: 0px;
    top: 0;
    width: 25%;
  } 

  div#sidebar{

  width:25%;    
  overflow-y: scroll;
  position:fixed;
  height:100%;
  top:0; 
  background-color: rgb(24, 23, 23);
  color: rgb(3, 182, 3);
  font-family: 'Courier Prime', monospace;
  border: none;
  

    
  }  

#playing{

  color: ivory

}
  
  

#weather{

  color: rgb(219, 51, 224);

}

#effects{

  color: rgb(63, 171, 204);

}

  div#sidebaritem {

    width: auto;
    height: auto;
    max-width: MaxSize;
    max-height: MaxSize;
    padding-top: 0px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
      

  }

 
#logo{

    width: 100%;
    height: auto;
    max-width: MaxSize;
    max-height: MaxSize;

}

#storyTeller{

color: wheat;

}



#testFill{

  font-family: 'Courier Prime', monospace;


}

#testLocation{

  color: orange;
  font-family: 'Courier Prime', monospace;
  font-weight: bold;
  border:none;
  


}

#testCategory{

  color: orange;
  font-family: 'Courier Prime', monospace;
  font-weight: bold;
  border:none;


}

#zLayer{
  
  font-family: 'Courier Prime', monospace;
 
}



  #paintFill{
   
    font-family: 'Courier Prime', monospace;
           
    }
    

    #Location {
 
  
      color: orange;
      font-family: 'Courier Prime', monospace;
      font-weight: bold;
      border:none;
      background-color:  black
      
    }

    #Category {
 
  
      color: orange;
      font-family: 'Courier Prime', monospace;
      font-weight: bold;
      border:none;
      background-color:  black
      
    }

#QA {
 
  width: 100%;
  color: orange;
  font-family: 'Courier Prime', monospace;
  font-weight: bold;
  border:none;
  background-color:  black
  
}


#TextA {
 
  width: 100%;
  height: 150px;
  background-color:  black;
  color: orange;
  font-family: 'Courier Prime', monospace;
  border:none;  
}

#QB {
 
  width: 100%;
  color: orange;
  font-family: 'Courier Prime', monospace;
  font-weight: bold;
  border:none;
  background-color:  black;

}


#TextB {
  width: 100%;
  height: 150px;
  background-color:  black;
  color: orange;
  font-family: 'Courier Prime', monospace;
  border:none;
}

#QC {
 
  width: 100%;
  color: orange;
  font-family: 'Courier Prime', monospace;
  font-weight: bold;
  border:none;
  background-color:  black;
}

#TextC {
  width: 100%;
  height: 150px;
  background-color:  black;
  color: orange;
  font-family: 'Courier Prime', monospace;
  border:none;
}

#QD {
 
  width: 100%;
  color: orange;
  font-family: 'Courier Prime', monospace;
  font-weight: bold;
  border:none;
  background-color: black;

}


#TextD {
  width: 100%;
  height: 150px;
  color: orange;
  font-family: 'Courier Prime', monospace;
  border:none;
  background-color: black;

}

#QE {
 
  width: 100%;
  color: orange;
  font-family: 'Courier Prime', monospace;
  font-weight: bold;
  border:none;
  background-color: black;
}

#TextE {
  width: 100%;
  height: 150px;
  background-color: black;
  color: orange;
  font-family: 'Courier Prime', monospace;
  border:none;
}

#user {
  
  
  color: orange;
  font-family: 'Courier Prime', monospace;
  border:none;
  background-color: black;
}

#backgroundimage {
  
  
  font-family: 'Courier Prime', monospace;
  border:none;
  background-color: black;
}


#sheetName {
  
  
  color: orange;
  font-family: 'Courier Prime', monospace;
  border:none;
  background-color: black;
  width: 70px;
}


#parentID {
  
  
  color: orange;
  font-family: 'Courier Prime', monospace;
  border:none;
  background-color: black;
  width: 60px;
}


#uniqueID {
  
  width: 100;
  color: orange;
  font-family: 'Courier Prime', monospace;
  border:none;
  background-color: black;
  width: 100px;
}





 